body.js .export-filters {
	display: none;
}

body.js .export-filters.show-options {
	display: block;
}

.wp-core-ui select[multiple]:hover {
	color: inherit;
}

.wp-core-ui select[multiple] option:hover {
	color: #2271b1;
}
