body.js .export-filters {
	display: none;
}

body.js .export-filters.show-options {
	display: block;
}

.wp-core-ui select[multiple]:hover {
	color: inherit;
}

.wp-core-ui select[multiple] option:hover {
	color: #2271b1;
}

.export-author-dropdown {
	width: 400px;
}

.export-author .select2-container--default .select2-selection--multiple {
	height: 32px;
}

.export-author .select2-container .select2-search--inline .select2-search__field {
	margin-top: 0;
}

.archive-download-type {
	border-bottom: 1px solid #ccc;
	display: flex;
	gap: 30px;
	padding: 15px 0;
}

.archive-download-type:last-of-type {
	border-bottom: none;
}

.archive-download-type-button {
	flex: 0 1 30%;
}

.submit-disabled-gloss {
	display: none;
	font-style: italic;
	visibility: hidden;
}

.disabled-row .submit-disabled-gloss {
	display: block;
	visibility: visible;
}

.disabled-row .submit-gloss {
	opacity: .25;
}
